
version: "3"


services:

  # MySQL Server for Sonarqube, Redmine and Gitbucket
  mysql:
    image: mysql:5.7
    container_name: mysql-server
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - "./mysql/initdb.d:/docker-entrypoint-initdb.d"
    command: --character-set-server=utf8 --collation-server=utf8_general_ci --explicit-defaults-for-timestamp=true --skip-name-resolve=true


  # Sonarqube that provides functions to analyze source code
  sonarqube:
    image: sonarqube:6.3.1-alpine
    container_name: sonarqube
    expose:
      - "9000"
    environment:
      SONARQUBE_JDBC_URL: "jdbc:mysql://mysql-server/sonar?useSSL=false&useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance"
    command: -Dsonar.web.context=/sonarqube
    depends_on:
      - mysql


  # Sonatype Nexus3 as inhouse repositories
  nexus:
    image: sonatype/nexus3
    container_name: sonatype-nexus
    expose:
      - "8081"
    environment:
      NEXUS_CONTEXT: nexus


  # Redmine
  redmine:
    image: sameersbn/redmine
    container_name: redmine
    expose:
      - "8080"
    environment:
      # DB configurations
      DB_HOST: mysql-server
      DB_NAME: redmine
      DB_USER: redmine
      DB_PASS: redmine
      # Web
      REDMINE_RELATIVE_URL_ROOT: /redmine
      NGINX_ENABLED:             "false"
    volumes:
      - "./redmine/plugins:/home/redmine/data/plugins"
      - "./redmine/themes:/home/redmine/data/themes"
    depends_on:
      - mysql


  # Knowledge
  knowledge:
    build: knowledge
    container_name: knowledge
    expose:
      - "8080"
    volumes:
      - /root/.knowledge


  # Gitbucket
  gitbucket:
    build: gitbucket
    container_name: gitbucket
    expose:
      - "8080"
    environment:
      # Use MySQL to store data
      MYSQL_DB_URL:      "jdbc:mysql://mysql-server/gitbucket?useSSL=false&useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true"
      MYSQL_DB_USER:     "gitbucket"
      MYSQL_DB_PASSWORD: "gitbucket"
    command: --prefix=/gitbucket
    depends_on:
      - mysql


  # Reverse proxy
  nginx:
    image: nginx:1.13.0-alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - "./nginx/conf.d:/etc/nginx/conf.d"
    depends_on:
      - sonarqube
      - nexus
      - redmine
      - knowledge
      - gitbucket
